<div class="thumbnail request-view">
<br>
  <a href="/users/{{requester.id}}">
    <div class="user-request-image">
      <img src="{{requester.avatar}}"/>
    </div>
  </a>
<br>
<br>
  <h3> Request From: {{ requester.first_name }} </h3>
    <div class="request-buttons">
      <button class="btn btn-primary accept" id="<%= request.requester.id %>">Accept!</button> 
      <button class="btn btn-primary deny" id="<%= request.requester.id %>">Deny!</button>
    </div>
<br>
<br>
  