<div class="goal-title">
<h1>Goals</h1>
<%= link_to "Add New Goal", new_goal_path, :class => 'btn btn-default', :id => "new-goal-button" %>
</div>


<div class="goal-div">
<h3> My Current Fitness Goals: </h3>
</div>

<% @goals.each do |goal| %>

	<% if current_user == @user %>
		<div class="indiv-goal-div">
		<ul>
			<p class="goal"><%= goal.goal_name %></p>
				<div class="goal-buttons">
					<%= link_to "Edit Goal", edit_goal_path(goal), :class => 'btn btn-default', :id => "edit-goal-button" %>
					<br><br>
				</ul>
	<% end %>
<% end %>

				</div>
	</div>



