/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require rails_bootstrap_forms
 *= require font-awesome
 */

@import url(http://fonts.googleapis.com/css?family=Dosis|News+Cycle|Waiting+for+the+Sunrise|Reenie+Beanie|Shadows+Into+Light|Architects+Daughter|Indie+Flower|Coming+Soon);

#teal {
	color:dodgerblue;
	font-weight: bold;
	font-family: 'News Cycle';
	font-size: 23px;
}

.request-info {
	text-align: center;
}

.checkboxes {
	margin-right: 60%;
}

.goal-div {
	width: 50%;
  margin: 0 auto;
  text-decoration: underline;
}

.indiv-goal-div {
	width: 60%;
  margin: 0 auto;
}

.goal-buttons {
	width: 12%;
}

.goals-header {
	margin-left: 90px;
}

#new-goal-button {
	margin-left: 90px;
	width: 118px;
	text-align: left;
	font-weight: bold;
}

#edit-goal-button {
	width: 85px;
	font-weight: bold;
}

/*#signup {
	margin: 8%;
	border: none;
	text-align: center;
	background-color: grey;
	color: black;
}

.center-form {
	margin-left: 150px;
}*/

#welcome {
	font-weight: bold;
	font-family: 'Shadows into Light';
}

 .hi {
 	border: 1px solid whitesmoke;
 }

.preview {
	width: 300px;
	height: 300px;
	text-align: center;
}

/* resize images */
.preview img {
    width: 100%;
    height: 100%;
}

#user-show {
	margin-left: 0;
}

.image-show {
	width: 400px;
	height: 400px;
	margin-left: 18%;
}
.image-show img {
	margin-top: 35px;
	width: 100%;
	height: 100%;
}

.user-request-image {
	max-width: 100px;
	max-height: 100px;
	margin-left: 40%;
}

.request-buttons {
	margin-left: 0;
	width: 325px;
}

.user-request-image img {
	width: 100%;
	height: 100%;
}

.request-view {
	text-align: center;
	margin-left: 15%;
	width: 400px;
	background-color: white;
}

.request-view p {
	color: black;
}

.request-view h1 {
	color: black;
}

.request-view ph2 {
	color: black;
}

.show {
	width: 600px;
	height: 750px;
	text-align: center;
	margin-left: 30%;
}

/* resize images */
.show img {
    width: 70%;
    height: auto;
}

body {
background-image: url("http://i.imgur.com/SN7aw8A.png");
background-repeat: repeat;
}

h1 {
	color:dimgray;
	margin-left: 10%;
}

h2 {
	color: dimgray;
	margin-left: 10%;
}

p {
	color: dimgray;
	font-size: 18px;
	margin-left: 10px;
}

.btn {
	background-color: dodgerblue;
	border-color: dodgerblue;
	margin-left: 23%;
}
